<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>@ViewBag.Title | @ViewBag.Setup.Title</title>
   <meta name="Content-Language" content="en">
   <meta name="Description" content="@(ViewBag.Description ?? $"{ViewBag.Setup.Title} is a simple and free ${ViewBag.Chain.Symbol} ticker.")">
   <meta name="Keywords" content="bitcoin,cryptos,cryptocurrencies,coins,$@ViewBag.Chain.Symbol,ticker,explorer,block explorer">
   <link rel="icon" type="image/png" href="/images/favicon.ico">
   <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
   <link href="~/css/all.css?v2" rel="stylesheet" type="text/css">
    <link href="~/css/default.css?v=@DateTime.Now.Microsecond" rel="stylesheet" type="text/css">
    <link href="~/css/explorer.css?v=@DateTime.Now.Microsecond" rel="stylesheet" type="text/css">
   @RenderSection("Style", false)
    @if (Context.Request.Path.Equals(Url.Action("Network", "BlockExplorer")))
    {
        <script type="text/javascript" src="https://registry.npmmirror.com/jquery/3.7.1/files/dist/jquery.min.js"></script>
        <script type="text/javascript" src="https://registry.npmmirror.com/echarts/5.5.1/files/dist/echarts.min.js"></script>
        <script type="text/javascript" src="https://registry.npmmirror.com/echarts-gl/2/files/dist/echarts-gl.min.js"></script>
        <script type="text/javascript" src="https://registry.npmmirror.com/echarts/4.9.0/files/map/js/world.js"></script>
    }
    else
    {
        <script src="~/js/jquery-2.1.0.min.js"></script>
        <script src="~/js/echarts.min.js"></script>
    }
</head>
<body style="background:#000;">
    <header class="header-area" style="background:#000">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a asp-controller="Home" asp-action="Index" class="logo ">
                            <img src="~/images/logo.png" class="" alt="" style="margin-bottom:7px;"/>
                            @* <span class="text-white">@ViewBag.Setup.Title</span> <span class="text-info text-hide">v2</span> *@

                        </a>
                        <ul class="nav">
                           @if (ViewBag.Features.Home)
                           {
                              <li class="@(Context.Request.Path.Equals(Url.Action("Index", "Home")) ? "active":"")"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> HOME</a></li>
                           }

                           @if (ViewBag.Features.Explorer)
                           {
                              <li class="@(Context.Request.Path.Equals(Url.Action("Index", "BlockExplorer")) ? "active":"")"><a asp-action="Index" asp-controller="BlockExplorer"><i class="fa fa-cube"></i> BLOCKS</a></li>
                           }

                            @if (ViewBag.Features.Stats)
                            {
                                <li class="@(Context.Request.Path.Equals(Url.Action("Stats", "BlockExplorer")) ? "active":"")"><a asp-action="Stats" asp-controller="BlockExplorer"><i class="fas fa-bars"></i> STATS</a></li>
                            }

                           @if (ViewBag.Features.Network)
                           {
                                <li class="@(Context.Request.Path.Equals(Url.Action("Network", "BlockExplorer")) ? "active":"")"><a asp-action="Network" asp-controller="BlockExplorer"><i class="fas fa-project-diagram"></i> NETWORK</a></li>
                           }


                           @if (ViewBag.Features.Top)
                           {
                                <li class="@(Context.Request.Path.Equals(Url.Action("Top", "BlockExplorer")) ? "active":"")"><a asp-action="Top" asp-controller="BlockExplorer"><i class="fas fa-wallet"></i> TOP100</a></li>
                           }

                           @if (ViewBag.Features.API)
                           {
                                <li><a href="https://api.Martiscoin.network/docs/index.html"><i class="fa fa-book"></i> API</a></li>
                           }

                           @if (ViewBag.Features.About)
                           {
                              <li class="@(Context.Request.Path.Equals(Url.Action("About", "Home")) ? "active":"")"><a asp-action="About" asp-controller="Home"><i class="fa fa-info-circle"></i> ABOUT</a></li>
                           }
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()


    @if (ViewBag.Features.Footer)
    {
        @if (string.IsNullOrWhiteSpace(ViewBag.Setup.Footer))
        {
            <div id="crafted">
                <p class="text-center small">Martiscoin Explorer - <a href="https://Martiscoin.network/">Martiscoin.network</a></p>
            </div>
        }
        else
        {
            <div id="crafted">
                <p class="text-center small">@ViewBag.Setup.Footer</p>
            </div>
        }
    }
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/particles.min.js"></script>
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/jquery.downCount.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/particle-green.js"></script>
    <environment include="Development">
        <script src="~/js/default.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/default.min.js"></script>
    </environment>
    @RenderSection("Scripts", false)
</body>

</html>
